<!DOCTYPE html>
<html>
<head>
    <title>Password Change Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            An error occurred while changing the password.
        </div>
    </div>
</body>
</html>
